<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>[%= title %]</title>
    <link rel="stylesheet/less" type="text/css" href="/static/style.less" media="screen" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
</head>
<body>
	<div id="scene">
		<div id="question"></div>
		<input id="input" type="text" /><br />
		<div id="letters"></div>
		<input type="button" value="Next" id="next" />
		<input type="button" value="Skip" id="skip" />
	</div>
</body>
</html>